* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
  overflow-x: hidden;
}

.navigation {
  position: relative;
  width: 100%;
  height: 60vh;
  background: black;
}

.navigation .navigation-icons {
  max-width: 1200px;
  margin: auto;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .navigation-icons .nav-logo {
  margin-left: 20px;
  height: 100%;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .navigation-icons .nav-logo img {
  width: 50px;
  height: 50px;
}

.navigation .navigation-icons .nav-icons {
  position: relative;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.navigation .navigation-icons .nav-icons .user-btn,
.navigation .navigation-icons .nav-icons .bag-btn,
.navigation .navigation-icons .nav-icons .menu-btn {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.navigation .navigation-icons .nav-icons .user-btn svg,
.navigation .navigation-icons .nav-icons .bag-btn svg,
.navigation .navigation-icons .nav-icons .menu-btn svg {
  fill: #b7b7b7 !important;
  stroke-width: 5px;
  stroke: white !important;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.navigation .nav-links {
  display: none;
}

.navigation .navigation-text {
  max-width: 1200px;
  margin: auto;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navigation .navigation-text .nav-title {
  color: white;
  max-width: 60%;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 0.3rem;
}

.navigation .navigation-text .nav-text {
  color: #b7b7b7;
  font-size: 0.9rem;
}

.navigation .navigation-text .shop-btn-container {
  width: 100px;
  height: 35px;
  border: 1px solid white;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  overflow: hidden;
}

.navigation .navigation-text .shop-btn-container .nav-shop-btn {
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 0.7rem;
  letter-spacing: 2px;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.hamburger-menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  z-index: 2;
  background: black;
  color: white;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.hamburger-menu .btn-close-container {
  width: 100;
  height: 10vh;
  position: relative;
  border-bottom: 1px solid #3d3d3d;
}

.hamburger-menu .btn-close-container .close-menu-btn {
  position: absolute;
  top: 4vh;
  right: 5vw;
}

.hamburger-menu .btn-close-container .close-menu-btn i {
  cursor: pointer;
}

.hamburger-menu .menu-links-container {
  width: 100%;
  height: 60vh;
}

.hamburger-menu .menu-links-container ul {
  list-style: none;
}

.hamburger-menu .menu-links-container ul li {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger-menu .menu-links-container ul li a {
  text-decoration: none;
  color: #b7b7b7;
  margin-left: 20px;
  letter-spacing: 2px;
}

.hamburger-menu .menu-links-container ul li a:hover {
  color: white;
}

.hamburger-menu .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
}

.hamburger-menu .footer-icons svg {
  fill: white !important;
  stroke-width: 5px;
  stroke: white !important;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cart-menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  z-index: 2;
  background: black;
  color: white;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.cart-menu .btn-close-container {
  width: 100;
  height: 10vh;
  position: relative;
  border-bottom: 1px solid #3d3d3d;
}

.cart-menu .btn-close-container .close-cart-btn {
  position: absolute;
  top: 4vh;
  right: 5vw;
}

.cart-menu .btn-close-container .close-cart-btn i {
  cursor: pointer;
}

.cart-menu .products-container {
  position: relative;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-menu .products-container .item-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.cart-menu .products-container .item-container .img-container {
  width: 70px;
}

.cart-menu .products-container .item-container .img-container img {
  width: 100%;
}

.cart-menu .products-container .item-container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0 0 20px;
}

.cart-menu .products-container .item-container .text-container .name {
  font-size: 12px;
  letter-spacing: 2px;
}

.cart-menu .products-container .item-container .text-container .size {
  font-size: 12px;
  letter-spacing: 2px;
}

.cart-menu .products-container .item-container .text-container .amount-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-menu .products-container .item-container .text-container .amount-price .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-menu .products-container .item-container .text-container .amount-price .amount .subtract {
  width: 15px;
  height: 20px;
  border: 1px solid #3d3d3d;
  text-align: center;
  cursor: pointer;
}

.cart-menu .products-container .item-container .text-container .amount-price .amount .quantity {
  width: 35px;
  height: 20px;
  border: 1px solid #3d3d3d;
  text-align: center;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-menu .products-container .item-container .text-container .amount-price .amount .add {
  width: 15px;
  height: 20px;
  border: 1px solid #3d3d3d;
  text-align: center;
  cursor: pointer;
}

.cart-menu .products-container .item-container .text-container .amount-price .price {
  font-size: 12px;
  text-align: center;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-menu .check-out-container {
  width: 100%;
  border-top: 1px solid #3d3d3d;
  margin-top: 20px;
}

.cart-menu .check-out-container .subtotal {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
}

.cart-menu .check-out-container .subtotal h2 {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 300;
}

.cart-menu .check-out-container .subtotal h3 {
  font-size: 12px;
  font-weight: 300;
}

.cart-menu .check-out-container .check-out-button {
  width: 90%;
  height: 35px;
  border: 1px solid white;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  overflow: hidden;
  margin: 20px auto;
}

.cart-menu .check-out-container .check-out-button a {
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 0.7rem;
  letter-spacing: 2px;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.overflow {
  overflow-y: hidden;
}

.products-container {
  width: 90%;
  margin: auto;
}

.products-container h1 {
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 2px;
}

.products-container h2 {
  font-size: 1rem;
  margin-top: 20px;
  text-align: center;
}

.product-btn-container {
  width: 100px;
  height: 35px;
  border: 1px solid black;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  overflow: hidden;
  margin-top: 20px;
  background: black;
  margin-right: 3px;
}

.product-btn-container a {
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 0.7rem;
  letter-spacing: 2px;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.title {
  width: 100%;
  margin-top: 40px;
}

.title h1 {
  text-align: center;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 1.7rem;
}

.popular-products-container {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular-products-container .popular-product {
  width: 200px;
  margin-left: 20px;
}

.popular-products-container .popular-product .img-product {
  width: 100%;
  overflow: hidden;
}

.popular-products-container .popular-product .img-product img {
  width: 90%;
  margin: auto;
}

.popular-products-container .popular-product .text-product {
  width: 100%;
}

.popular-products-container .popular-product .text-product h1 {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 3px;
  margin-top: 20px;
}

.popular-products-container .popular-product .text-product h2 {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
}

.button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-section {
  margin: 50px 0;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-section .subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  position: relative;
}

@media (max-width: 500px) {
  .subscribe-section .subscribe-form {
    width: 90%;
    margin: auto;
  }
}

.subscribe-section .subscribe-form input {
  width: 300px;
  height: 100%;
  margin: 0;
}

@media (max-width: 500px) {
  .subscribe-section .subscribe-form input {
    width: 100%;
  }
}

.subscribe-section .subscribe-form .btn-container {
  position: absolute;
  top: 0;
  right: -5px;
  width: 100px;
  height: 100%;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  overflow: hidden;
  background: white;
}

.subscribe-section .subscribe-form .btn-container .subscribe-btn {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  background: transparent;
  border: none;
}

.app-container {
  width: 90%;
  margin: 40px auto;
  border: 1px solid black;
}

.app-container h1 {
  font-size: 0.9rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 20px;
}

.app-container h2 {
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 2px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.app-container p {
  font-weight: 100;
  font-size: 0.7rem;
  text-align: center;
  width: 70%;
  margin: auto;
  line-height: 1.2rem;
  margin-top: 20px;
}

.app-container .app-btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.footer {
  background: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-text {
  max-width: 90%;
  margin: auto;
}

.footer .footer-text h2 {
  font-size: 0.9rem;
  color: white;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1px;
  font-weight: 300;
}

.footer .footer-text p {
  font-size: 0.7rem;
  color: white;
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4rem;
}

.footer .footer-links {
  width: 100%;
}

.footer .footer-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.footer .footer-links ul li {
  margin-top: 10px;
}

.footer .footer-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
}

.footer .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 40px auto 40px auto;
}

.footer .footer-icons svg {
  fill: white !important;
  stroke-width: 5px;
  stroke: white !important;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media only screen and (min-width: 900px) {
  .navigation {
    position: relative;
    width: 100%;
    height: 75vh;
    background: black;
  }
  .navigation .navigation-icons {
    max-width: 1200px;
    margin: auto;
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navigation .navigation-icons .nav-icons .menu-btn {
    display: none;
  }
  .navigation .nav-links {
    display: block;
    width: 650px;
    height: 100%;
  }
  .navigation .nav-links ul {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
  .navigation .nav-links ul li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation .nav-links ul li a {
    color: #b7b7b7;
    text-decoration: none;
  }
  .navigation .nav-links ul li:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navigation .nav-links ul li:hover:after {
    width: 100%;
    left: 0;
  }
  .navigation .navigation-text {
    max-width: 1200px;
    margin: auto;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navigation .navigation-text .nav-title {
    color: white;
    max-width: 60%;
    text-align: center;
    font-size: 2.3rem;
    letter-spacing: 0.5rem;
  }
  .navigation .navigation-text .nav-text {
    color: white;
    font-size: 0.9rem;
  }
  .navigation .navigation-text .shop-btn-container {
    width: 100px;
    height: 35px;
    border: 1px solid white;
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
  }
  .navigation .navigation-text .shop-btn-container .nav-shop-btn {
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 0.7rem;
    letter-spacing: 2px;
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
  }
  .hamburger-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    z-index: 2;
    background: black;
    color: white;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  .hamburger-menu .btn-close-container {
    width: 100;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #3d3d3d;
  }
  .hamburger-menu .btn-close-container i {
    margin-right: 20px;
    cursor: pointer;
  }
  .hamburger-menu .menu-links-container {
    width: 100%;
    height: 60vh;
  }
  .hamburger-menu .menu-links-container ul {
    list-style: none;
  }
  .hamburger-menu .menu-links-container ul li {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #3d3d3d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hamburger-menu .menu-links-container ul li a {
    text-decoration: none;
    color: #b7b7b7;
    margin-left: 20px;
    letter-spacing: 2px;
  }
  .hamburger-menu .menu-links-container ul li a:hover {
    color: white;
  }
  .hamburger-menu .footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: auto;
  }
  .hamburger-menu .footer-icons svg {
    fill: white !important;
    stroke-width: 5px;
    stroke: white !important;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .cart-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100vh;
    z-index: 2;
    background: black;
    color: white;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  .cart-menu .btn-close-container {
    width: 100;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #3d3d3d;
  }
  .cart-menu .btn-close-container i {
    margin-right: 20px;
    cursor: pointer;
  }
  .cart-menu .products-container {
    position: relative;
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-menu .products-container .item-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }
  .cart-menu .products-container .item-container .img-container {
    width: 70px;
  }
  .cart-menu .products-container .item-container .img-container img {
    width: 100%;
  }
  .cart-menu .products-container .item-container .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 10px 0 0 20px;
  }
  .cart-menu .products-container .item-container .text-container .name {
    font-size: 12px;
    letter-spacing: 2px;
  }
  .cart-menu .products-container .item-container .text-container .size {
    font-size: 12px;
    letter-spacing: 2px;
  }
  .cart-menu .products-container .item-container .text-container .amount-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 150px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cart-menu .products-container .item-container .text-container .amount-price .amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cart-menu .products-container .item-container .text-container .amount-price .amount .subtract {
    width: 20px;
    height: 20px;
    border: 1px solid #3d3d3d;
    text-align: center;
    cursor: pointer;
  }
  .cart-menu .products-container .item-container .text-container .amount-price .amount .quantity {
    width: 35px;
    height: 20px;
    border: 1px solid #3d3d3d;
    text-align: center;
    font-size: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cart-menu .products-container .item-container .text-container .amount-price .amount .add {
    width: 20px;
    height: 20px;
    border: 1px solid #3d3d3d;
    text-align: center;
    cursor: pointer;
  }
  .cart-menu .products-container .item-container .text-container .amount-price .price {
    font-size: 12px;
    text-align: center;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart-menu .check-out-container {
    width: 100%;
    border-top: 1px solid #3d3d3d;
    margin-top: 20px;
  }
  .cart-menu .check-out-container .subtotal {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px auto;
  }
  .cart-menu .check-out-container .subtotal h2 {
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 300;
  }
  .cart-menu .check-out-container .subtotal h3 {
    font-size: 12px;
    font-weight: 300;
  }
  .cart-menu .check-out-container .check-out-button {
    width: 90%;
    height: 35px;
    border: 1px solid white;
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
    overflow: hidden;
    margin: 20px auto;
  }
  .cart-menu .check-out-container .check-out-button a {
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 0.7rem;
    letter-spacing: 2px;
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
  }
  .open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  .products-container {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .products-container .single-product-container {
    width: 80%;
    max-width: 600px;
    margin: 10px 10px;
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .products-container .single-product-container .text-product-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products-container .single-product-container .text-product-container h1 {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  .products-container .single-product-container .text-product-container h2 {
    font-size: 1rem;
    margin-top: 20px;
  }
  .products-container .single-product-container .text-product-container .product-btn-container {
    width: 100px;
    height: 35px;
    border: 1px solid black;
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
    overflow: hidden;
    margin-top: 20px;
    background: black;
  }
  .products-container .single-product-container .text-product-container .product-btn-container a {
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 0.7rem;
    letter-spacing: 2px;
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
  }
  .products-container .single-product-container .img-product-container {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .products-container .single-product-container .img-product-container img {
    width: 90%;
    max-width: 300px;
    margin: auto;
  }
  .popular-products-container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .popular-products-container .popular-product {
    width: 200px;
    margin-left: 20px;
  }
  .popular-products-container .popular-product .img-product {
    width: 100%;
    overflow: hidden;
  }
  .popular-products-container .popular-product .img-product img {
    width: 90%;
    margin: auto;
  }
  .popular-products-container .popular-product .text-product {
    width: 100%;
  }
  .popular-products-container .popular-product .text-product h1 {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 3px;
    margin-top: 20px;
  }
  .popular-products-container .popular-product .text-product h2 {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
  }
  .footer {
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .footer-text {
    max-width: 200px;
    margin: auto;
  }
  .footer .footer-text h2 {
    font-size: 0.9rem;
    color: white;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .footer .footer-text p {
    font-size: 0.7rem;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.4rem;
  }
  .footer .footer-links {
    width: 50%;
    max-width: 200px;
    margin: auto;
  }
  .footer .footer-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
  .footer .footer-links ul li {
    margin-top: 10px;
  }
  .footer .footer-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
  }
  .footer .footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    max-width: 200px;
    margin: 40px auto 40px auto;
  }
  .footer .footer-icons svg {
    fill: white !important;
    stroke-width: 5px;
    stroke: white !important;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.videos {
  width: 90%;
  margin: auto;
}

.videos .no-radius {
  border-radius: 0px;
}

.videos .card-img-overlay {
  position: absolute;
  top: auto;
}

.videos .exercise-card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
  max-width: 1000px;
  margin: 30px auto;
}

@media (max-width: 1040px) {
  .modal-dialog {
    margin: 30px 10px;
  }
}

.modal-body {
  position: relative;
  padding: 0px;
}

.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}
/*# sourceMappingURL=shop.css.map */